body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #edf2f6;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#userList {
	margin:0 0 30px 0;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

  fieldset {
      min-height:20px;
      padding:19px;
      padding-top: 0;
      margin-bottom:20px;
      margin-top:20px;
      background-color:white;
      border:1px solid #e3e3e3;
      border-radius:16px;
      -webkit-box-shadow: 0 7px 7px rgba(0,0,0,.5);
      box-shadow: 0 7px 7px rgba(0,0,0,.5)
  }
  legend, .pseudo_legend{
      font-size: 1em;
  }

  legend{
      width:inherit; /* Or auto */
      padding:0 10px; /* To give a bit of padding on the left and right */
      border-bottom:none;
  }

  #progress_bar {
    float: left;
    width:50%;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }

input[type="file"] {
  float: left;
  width:50%;
  }
.well{
  background-color: white
  }

button,.nav{
  font-family: "Bitter",serif;
  width: 100%;
  text-shadow: -1px 1px #417cb8;
}
 button {
   color: #fff;
   margin: 20px 0 0 0;
   font-size: 20px;
   background-color: #6496c8;
   text-shadow: -1px 1px #417cb8;
   border: none;
}
 button:hover,
 button.hover {
   background-color: #346392;
   text-shadow: -1px 1px #27496d;
}
 button:active,
 button.active {
   background-color: #27496d;
   text-shadow: -1px 1px #193047;
}

th {
    border-style: solid;
    background-color: #6496c8;
    color: white;
    text-align: center;
    width: 100%;
}
tr:nth-child(even) {background-color: #f2f2f2}
table.tableSection {
    display: table;
    width: 100%;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: scroll;
    height: 300px;
    min-height: 300px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.tableSection th, table.tableSection td {
    width: 50%;
}

.resizableFieldSet{
    max-height:360px;
    min-height:360px;
}
