[submodule "CorpusPreparationUpload"]
	path = CorpusPreparationUpload
	url = https://github.com/miguelemosreverte/CorpusPreparationUpload
[submodule "Moses-API"]
	path = Moses-API
	url = https://github.com/miguelemosreverte/Moses-API
[submodule "app/public/TTT_public_folder"]
	path = app/public/TTT_public_folder
	url = https://github.com/miguelemosreverte/TTT_public_folder
[submodule "app/views/TTT_views"]
	path = app/views/TTT_views
	url = https://github.com/miguelemosreverte/TTT_views
